:root {
    --primary-color: #A1B5D8;
    --secondary-color: #738290;
    --accent1-color: #E4F0D0;
    --accent2-color: #C2D8B9;
}

h1, h2, h3, h4, h5, h6{
    font-family: "rammetto one";
}

p {
    font-family: "plus jakarta sans";
    color: black;
}

article p {
    position: absolute;
    /* background-color: var(--secondary-color); */
    top: 6rem;
    color: white;
    left: 10rem;
}

#clients {
    right: 10rem;
    width: 20rem;
    height: auto;
    top: 2rem;
    position: absolute;
    opacity: 1;
}

.stats {
    position: absolute;
}

h1 {

    color: whitesmoke;
    position: absolute;
    top: 2rem;
    left: 30rem;

}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    opacity: .6;
}

.hero {
    position: relative;
}

a {
    color: blue;
}

a.imagelink {
    text-decoration: none;
}

.imagelink img {
    text-decoration: none;
    height: 2rem;
    width: 2rem;
}